html, body {
	height: 100%;
	overflow: hidden;
}

#top-bar {
	height: 45px;
	border-bottom: 1px solid rgb(95, 153, 207);
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
}

#main-content {
	height: calc(100% - 65px);
	margin-top: 20px;
	font-family: 'Raleway', sans-serif;
}

.panel.panel-primary {
	box-shadow: 0px 5px 5px rgb(220, 220, 200);
	border-color: rgb(206, 227, 248);
}

.panel-title {
	font-weight: bold;
}

.panel>.panel-heading {
	background-color: rgb(206, 227, 248);
	border-color: rgb(206, 227, 248);
	color: rgb(51, 102, 153);
}

.panel-title {
	font-weight: bold;
}

#table-holder {
	height: 84vh;
	overflow-y: scroll;
}

#table-holder .table-heading-subreddit {
	width: 40%;
}

#table-holder .table-heading-time,
#table-holder .table-heading-views {
	width: 30%;
}

#table-holder::-webkit-scrollbar {
	width: 12px;
}

#table-holder::-webkit-scrollbar-track {
	background-color: #eaeaea;
	border-left: 1px solid #ccc;
}

#table-holder::-webkit-scrollbar-thumb {
	background-color: #ccc;
}

#table-holder::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.tooltip {
	position: absolute;
	width: 200px;
	height: 28px;
	pointer-events: none;
	background: white;
}

#plot {
	display: block;
	margin: auto;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-size: 12px;
}