html, body {
	height: 100%;
}

.container {
	height: 100%;
	width: 100%;
}

.row {
	height: 100%;
	background-color: rgb(240, 240, 240);
}

#chart {
	background-color: rgb(240, 240, 240);
	margin: 5px;
}

/*#chart rect {
	stroke: white;
	fill: steelblue;
}*/

.chart div {
	font: 10px sans-serif;
	background-color: steelblue;
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: white;
}